// Global stylesheet
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/animations.scss';
@import '@/assets/scss/vuetify.scss';


a {
  text-decoration: none;
}

.fill-h {
  height: 100% !important;
}
.fill-vh {
  height: 100vh !important;
}
.fill-min-h {
  min-height: 100% !important;
}
.fill-w {
  width: 100% !important;
}
.fill-vw {
  width: 100vw !important;
}

.rel {
  position: relative !important;
}
.abs {
  position: absolute !important;
  &.r0 {
    right: 0 !important;
  }
  &.t0 {
    top: 0 !important;
  }
  &.b0 {
    bottom: 0 !important;
  }
  &.l0 {
    left: 0 !important;
  }
}

.mw-80 {
  max-width: 80px !important;
}

.narrowCard {
  max-width: 420px !important;
}
.no-shadow {
  box-shadow: none !important;
}

.qmoLogo {
  background-image: url('~assets/images/logo_transparent.svg');
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 31%;
}

.black--80 {
  background-color: rgba(0, 0, 0, 0.7);
}

.videoPlayerContainer {
  width: $videoPlayerWidth;
  height: $videoPlayerHeight;
  max-width: 100%;
}

.aspect-667 {
  width: 100%;
  height: 0;
  padding-bottom: 66.7%;
}
.stretchCard {
  height: 100%;
  position: relative;
  .actions {
    position: absolute;
    bottom: 4px;
    height: 36px;
    width: 100%;
    display: flex;
  }
  &.hover:hover {
    transform: scale(1.01);
  }
}
.text--large {
  font-size: 1.2rem;
}
.text--small {
  font-size: 0.875rem;
}
.text--normal {
  font-size: 1rem;
}
.strike {
  text-decoration: line-through;
  text-decoration-color: $primary;
}
.minW-0 {
  min-width: 0 !important;
}
.minW-256 {
  min-width: 256px !important;
}

.line-height-md {
  line-height: 18px;
}

.link {
  cursor: pointer !important;
}
.no-overflow {
  overflow: hidden !important;
}

.imgBorder {
  border: 2px solid #777;
}

.centerItem {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.hidden {
  opacity: 0;
}
.dimmer {
  opacity: 0.3;
}
.dim {
  opacity: 0.6;
}
.semi-dim {
  opacity: 0.9;
}
.visible {
  opacity: 1;
}

.transition_defualt {
  transition: $transition_duration $transition_func_main;
}

.break-word {
  word-break: break-word !important;
}

@media (min-width: 1904px) {
  .container {
      max-width: 1445px !important;
  }
}

@media (max-width: 959px) {
  html {
    font-size: 16px !important;
  }
}

$waterfallGutter: 16px !default;
.waterfall-layout {
  height: 100vh;
}
.waterfall-item {
  opacity: 0;
  position: absolute;
  top: 1000px;
  transform: translateY(700px);
  padding: $waterfallGutter / 2;
  @for $i from 1 through 6 {
    &.cols-#{$i} {
      width: percentage(1 / $i);
      @for $j from 1 through $i {
        &.column-#{j} {
          left: percentage(($j - 1) / $i);
        }
      }
    }
  }
  &.loaded {
    opacity: 1;
    transform: translateY(0);
    transition: $transition_duration $transition_func_main;
    transition-property: transform, top, left;
  }
}
