// Global stylesheet
@import '@/assets/scss/variables.scss';

.hiddentext {
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}
.fill-h {
  height: 100% !important;
}
.fill-w {
  width: 100% !important;
}
.ta-center {
  text-align: center;
}

.fade-enter-active, .fade-leave-active  {
  transition: $transition_duration $transition_func_main;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.cardItem-enter-active, .cardItem-leave-active  {
  transition: $transition_duration $transition_func_main;
  transform-origin: right center;
}
.cardItem-enter-to, .list-leave {
  opacity: 1;
  transform: translateX(0);
}
.cardItem-enter, .cardItem-leave-to {
  opacity: 0;
  transform: translateX($transition_distance);
}
.list-enter-active {
  transition: $transition_duration $transition_func_main $transition_duration;
}
.list-leave-active {
  transition: $transition_duration $transition_func_main;
}
.list-enter-to, .list-leave {
  opacity: 1;
  transform: translateY(0);
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY($transition_distance);
}

.textOnImage {
  background-color: rgba(0, 0, 0, 0.72);
}
.abs {
  position: absolute !important;
}

.rel {
  position: relative !important;
}
.hide-overflow {
  overflow: hidden !important;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}

.qmoLogo {
  background-image: url('~assets/images/logo_transparent.svg');
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 31%;
}


.videoPlayerContainer {
  width: $videoPlayerWidth;
  height: $videoPlayerHeight;
  border-radius: 4px;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}


.aspect-667 {
  width: 100%;
  height: 0;
  padding-bottom: 66.7%;
}
.aspect-800 {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
}

.stretchCard {
  height: 100%;
  position: relative;
  .actions {
    position: absolute;
    bottom: 8px;
    height: 36px;
    width: 100%;
    display: flex;
  }
  &.hover:hover {
    transform: scale(1.01);
  }
}
.strike {
  text-decoration: line-through;
  text-decoration-color: $primary;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.title {
  text-transform: capitalize;
}
.heading {
  text-transform: capitalize;
}
.light {
  font-weight: 400;
}
.summary {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.0071428571em;
}
.v-image {
  align-items: flex-end;
}
.v-image__image {
  transition: background-image $transition_duration $transition_func_main;
}
.v-card__title {
  word-break: break-word !important;
  text-transform: capitalize;
  flex-direction: column;
  align-items: stretch !important;
}
.v-card__actions>.v-btn {
  flex: 0 1 auto;
}
.v-btn {
  max-width: 100%;
}
.v-btn__content .v-icon--right {
  margin-right: 4px !important;
}
.v-application .v-btn__content, .ellipsis_text {
  max-width: 100%;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.v-icon.v-icon--svg.mdiYoutube {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $dark-grey;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.8;
  transition: $transition_duration $transition_func_main;
  &::before {
    content: '';
    background-color: $light-grey;
    z-index: -1;
    position: absolute;
    height: 50%;
    width: 50%;
    border-radius: 50%;
  }
}
.v-application .v-dialog {
  box-shadow: none;
}

.v-carousel .v-responsive__content {
  height: 100%;
}
.transition_defualt {
  transition: $transition_duration $transition_func_main;
}
