// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$black: #121212;
$white: #f5f5f5;
$light-grey: #eeeeee;
$dark-grey: #333;
$primary: #0288D1;    // light-blue darken-2
$secondary: #00796B;   // teal darken-2;
$borderRadius: 4px;
$accent: #AA00ff; //puple accent-4
$youtube-red: #c4302b;
$surface: lighten($black,2%);
$header: lighten($surface,2%);
$body-font-family: 'Roboto Condensed';
$heading-font-family: 'Roboto';

// $font-size-root: 18px;
$material-dark: (
  'surface': $surface,
  'app-bar': $header,
  'cards': $surface,
);
/*
$material-dark: (
  'status-bar': (
    'regular': $black,
    'lights-out': rgba($black, 0.2)
  ),
  'background': $black,
  'surface': $surface,
  'chips': #555,
  'dividers': rgba($white, 0.12),
  'text': (
    'theme': $primary,
    'primary': $white,
    'secondary': $light-grey,
    'disabled': rgba($white, 0.5),
    'link': $secondary,
    'link-hover': $secondary,
  ),
  'icons': (
    'active': $white,
    'inactive': rgba($white, 0.5)
  ),
  'inputs': (
    'box': $white,
    'solo-inverted': rgba($white, 0.16),
    'solo-inverted-focused': $white,
    'solo-inverted-focused-label': rgba($black, .6),
    'solo-inverted-focused-placeholder': rgba($black, 0.38),
    'solo-inverted-focused-text': rgba($black, 0.87)
  ),
  'buttons': (
    'disabled': rgba($white, 0.3),
    'focused': rgba($white, 0.12),
    'focused-alt': rgba($white, 0.1),
    'pressed': rgba(#ccc, 0.25)
  ),
  'expansion-panels': (
    'focus': #494949
  ),
  'navigation-drawer': lighten($black,5%),
  'selection-controls': (
    'disabled': rgba($white, 0.3),
    'thumb': (
      'inactive': #bdbdbd,
      'disabled': lighten($black,0.5%)
    ),
    'track': (
      'inactive': rgba($white, 0.3),
      'disabled': rgba($white, 0.1)
    )
  ),
  'slider': (
    'active': rgba($white, 0.3),
    'inactive': rgba($white, 0.2),
    'disabled': rgba($white, 0.2),
    'discrete': $white
  ),
  'skeleton': linear-gradient(90deg, transparent, rgba($black, .05), transparent),
  'states': (
    'hover': 0.08,
    'focus': 0.24,
    'selected': 0.16,
    'activated': 0.24,
    'pressed': 0.32,
    'dragged': 0.16
  ),
  'tabs': rgba($white, 0.6),
  'toggle-buttons': (
    'color': $white
  ),
  'text-fields': (
    'filled': rgba($white, 0.08),
    'filled-hover': rgba($white, 0.16),
    'outlined': rgba($white, 0.24),
    'outlined-disabled': rgba($white, 0.16),
    'outlined-hover': $white
  ),
  'input-bottom-line': rgba($white, 0.7),
  'stepper': (
    'active': rgba($white, 1),
    'completed': rgba($white, 0.87),
    'hover': rgba($white, 0.75)
  ),
  'table': (
    'active': #505050,
    'hover': lighten($black,1%),
    'group': lighten($black,1%),
  ),
  'toolbar': lighten($black,3%),
  'picker': (
    'body': lighten($black,0.5%),
    'clock': lighten($black,1%),
    'indeterminateTime': lighten($black,1.5%),
    'title': lighten($black,1%)
  ),
  'color-picker': (
    'checkerboard': rgba($white, 0.12)
  ),
  'bg-color': $black,
  'fg-color': $white,
  'text-color': $white,
  'primary-text-percent': 1,
  'secondary-text-percent': 0.7,
  'disabledORhints-text-percent': 0.5,
  'divider-percent': 0.12,
  'active-icon-percent': 1,
  'inactive-icon-percent': 0.5
);
$material-light: (
  'background': $light-grey,
  'surface': $white,
  'color': $black,
);
*/

$videoPlayerHeight: 360px !default;
$videoPlayerWidth: 640px !default;

$transition_duration: 0.28s;
$transition_distance: 280px;
$transition_func_main: cubic-bezier(0.4, 0, 0.2, 1);
