.v-application {
  .noOverlay.theme--dark.v-btn--active {
    &::before {
      opacity: 0;
    }
    &:not(.v-btn--disabled) {
      opacity: 0.5;
    }
  }
  .unsetWhiteSpace {
    white-space: unset !important;
    &.v-btn {
      max-width: 100%;
      word-break: break-all;
      height: unset;
      padding: 4px;
      .v-btn__content {
        white-space: unset !important;
        height: unset;
        max-width: 100%;
        word-break: break-all;
      }
    }
  }
  .ellipsis.v-btn {
    max-width: 100%;
    .v-btn__content {
      max-width: 100%;
      .v-btn__text {
        word-break: break-all;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
      }
      .v-icon--right {
        margin-right: 4px !important;
      }
    }
  }
  .v-main .text-h4 {
    font-size: 2.5rem !important;
  }
  .mdiYoutube.v-icon.v-icon--svg {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $dark-grey;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0.8;
    transition: $transition_duration $transition_func_main;
    &::before {
      content: '';
      background-color: $light-grey;
      z-index: -1;
      position: absolute;
      height: 50%;
      width: 50%;
      border-radius: 50%;
    }
  }
  .small.v-spacer {
    flex-basis: 5px;
  }
  .v-image__image {
    transition: background-image $transition_duration $transition_func_main;
  }
  .v-card__title {
    text-transform: capitalize;
  }
}

/*.v-application {
  .v-list-item .v-list-item__title {
    letter-spacing: 1px;
  }
  .v-card {
    &__title {
      flex-direction: column;
      align-items: stretch !important;
    }
    &__actions > .v-btn {
      flex: 0 1 auto;
    }
  }
  .v-btn {
    max-width: 100%;
    &__content {
      max-width: 100%;
      word-break: break-all;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      & .v-icon--right {
        margin-right: 4px !important;
      }
    }
  }
  .
}*/
