// Global stylesheet
@import '@/assets/variables.scss';

.limitWidth {
  max-width: 90vw;
  margin: auto;
}
.paddLeft {
  padding-left: 12px;
}
.fundingImage {
  margin: 0 4px;
}
.hiddentext {
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}
.padd-bottom {
  margin-bottom: 20px;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.no-padding-top {
  padding-top: 0;
}
.middle-align-text {
  display: flex;
  float: left;
  align-items: center;
}
.fill-height {
  height: 100%;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.layout-enter-active, .layout-leave-active {
  transition: opacity .2s;
}
.layout-enter, .layout-leave-active {
  opacity: 0.2;
}

.breakAfter{
  position: relative;
  &::after {
    content: '|';
    position: absolute;
    right: 0;
    top: 18px;
  }
}

.v-image__image {
  transition: background-image 280ms cubic-bezier(0.4,0,0.2,1);
}

.v-icon.v-icon--svg.mdiYoutube {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $dark-grey;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.8;
  transition: 0.28s cubic-bezier(0.4,0,0.2,1);
  &::before {
    content: '';
    background-color: $light-grey;
    z-index: -1;
    position: absolute;
    height: 50%;
    width: 50%;
    border-radius: 50%;
  }
}
.container {
  max-width: 1280px;
  margin: auto;
}

